@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
.custom-img{
  filter: brightness(70%);
  background-image: url(https://images.unsplash.com/photo-1513140491664-d3c3efbb4783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
}
.custom-img2{
  /* filter: brightness(70%); */
  background-image: url(https://images.unsplash.com/photo-1513140491664-d3c3efbb4783?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff00ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.linear-wipe {
  text-align: center;
  z-index: 40;
  background: linear-gradient(to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}



.gradient-border {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.sb_center{
  overflow-x: hidden;
  padding-left: calc(100vw - 100%);
}

.bg_thatblack{
  background: #1D1F1C;
}
/* .fade-in{
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; 
}  */


.fade-in-d {
  animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  -webkit-animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

@media (min-width: 768px) {
  .fade-d {
    animation: fadeInAnimation 1s ease 1.5s 1 normal both;
    -webkit-animation: fadeInAnimation 1s ease 1.5s 1 normal both;
  }
}
@media (max-width: 768px) {
  .fade-m {
    animation: fadeInAnimation 0.5s ease 3s 1 normal both;
    -webkit-animation: fadeInAnimation 0.5s ease 3s 1 normal both;
  }
}

.fade-in-m {
  animation: fadeInAnimation 1s ease 3s 1 normal both;
  -webkit-animation: fadeInAnimation 1s ease 3s 1 normal both;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.full-o {
  opacity: 1;
}

.bigh{
  height: 120vh;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
@-webkit-keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}